*{
    margin: 0;
    margin: 0;
}

body{
    background-image: url(/sea-6948569.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
}

#hbs-body, .form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.create-form, .container-list, .unique-container{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(3px);
    background: #ffffff00;
    border-radius: 20px;
    box-shadow: -1px 1px 15px, 10px 10px 10px; 
}

.container div h1{
    margin-bottom: 1em;
}

#navbar-spaceholder{
    padding: 1em 2em;
}

#navbar{
    color: #fff;
    height: 100vh;
    position: absolute;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    flex-direction: column;
    height: 50%;
    margin-top: 150%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 1em 0 1px;
    background: #ffffff00;
    z-index: 999999;
    backdrop-filter: blur(100px);
}

#navbar ul li{
    margin-left: 1em;
    color: #fff;
    margin-top: 50%;
}

#navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}
.container-list{
    list-style: none;
    margin-top: 1em;
}

.container-list ul{
    overflow-y: auto;
    padding: 0;
}

.container-list li{
    padding: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
}

.container-list .title{
    font-weight: bold;
    color: #ffffff;
    transition: .5s;
    font-size: 1.2em;
}

.container-list .title:hover{
    color: #333;
}

.actions{
    display: flex;
}

.actions i{
    font-size: 1.5em;
    margin-right: .6em;
    color: #333;
}

.actions i:hover{
    color: #db4c3f;
}

.actions form{
    margin: 0;
}

.actions button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.escrever{
    margin-bottom: 40px;
    font-size: 20px;
    width: 50%;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid;
    outline: 0;
    transition: 1s;
}

.escrever:hover{
    font-size: 25px;
    transition: 1s;
}

.form-control textarea{
    margin-bottom: 1em;
    width: 50%;
}

.form-control textarea{
    margin-bottom: 1em;
    width: 50%;
}

.submit{
    width: 25%;
    height: 40px;
    border-radius: 15px;
    opacity: 80%;
    color: #fafafa;
    margin-left: 10px;
    border: #c7d3f71f solid;
    background:#ffffff00;
    cursor: pointer;
    transition: 2s;
}

.submit:hover{
    background: #002f3d !important;
    transition: 2s;
}

label{
    color: #d4d4f7;
    font-size: 1.25em;
}

.unique-container p{
    color: #ffffff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding: 1em;
}

.wrapper {  
    display: inline-block;
    width: 300px;
    border: 1px solid #CCC;
    height: 20%;
  }
  
  .wrapper span {
    display: block;
    color: #CCC;
    padding: 10px;
    border-bottom: 1px solid #CCC;
  }
  
  .search {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #CCC;
  }
  
  .search-input {
    border: 0;
  }

  #home-container-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    gap: 40px 1px;
  }

  #submit-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
