*{
    font-family: Helvetica;
    margin: 0;
    margin: 0;
}

body{
    background-color: #ccc;
}

#navbar-spaceholder{
    padding: 1em 2em;
}

#navbar{
    border-bottom: 1px solid #ccc;
    padding: 1em 2em;
    color: #fff;
    margin-bottom: 1em;
    background-color: #207be4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li{
    margin-left: 1em;
    color: #fff;
}

#navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}
.container-list{
    list-style: none;
    margin-top: 1em;
}

.container-list li{
    padding: .5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
}

.container-list .title{
    font-weight: bold;
    color: #db4c3f;
    transition: .5s;
    font-size: 1.2em;
}

.container-list .title:hover{
    color: #333;
}

.actions{
    display: flex;
}

.actions i{
    font-size: 1.5em;
    margin-right: .6em;
    color: #333;
}

.actions i:hover{
    color: #db4c3f;
}

.actions form{
    margin: 0;
}

.actions button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
