<h1>Qual o nome do novo cliente?</h1>
<form action="/movies/add" method="post">
    <div class="form-control">
        <input type="text" name="title" placeholder="Escreva o titulo do filme aqui">
        <textarea name="description" placeholder="Escreva a sinopse do filme aqui"></textarea>
    </div>
    <input type="submit" value="Criar">
</form>