<h1>Qual o nome do novo filme?</h1>
<form action="/movies/add" method="post" class="create-form">
    <div class="form-control">
        <label for="title">Título do filme</label>
        <input type="text" name="title" class="escrever">
        <label for="description">Descrição</label>
        <textarea name="description" class="escrever"></textarea>
        <input type="submit" value="Criar" class="submit">
    </div>
    
</form>