<h1>Qual o nome do novo cliente?</h1>
<form action="/users/add" method="post">
    <div class="form-control">
        <input type="text" name="name" placeholder="Escreva o nome aqui">
    </div>
    <input type="submit" value="Criar">
</form>